nav {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  color: #ffff;
  flex-flow: row;
  justify-content: space-between;
  height: 120px;
  background-color: #000000;
  padding: 1.5em;
  z-index: 1;
}

.logo {
  font-family: Bungee;
  font-size: 50px;
}
.nav-right-side {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: left;
  font-size: 32px;
}

.nav-right-side i {
  color: #fa7319;
  animation: MoveUpDown 1s linear infinite;
  position: relative;
}

@keyframes MoveUpDown {
  0%,
  100% {
    bottom: 0;
  }
  50% {
    bottom: 8px;
  }
}
